
.logo {
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
}
body {
	background-color:#26272c;
}

.law {
    padding-left: 10px;
	font-size: 20px;
	font-family: 'BPG Nino Mtavruli Bold';
	color: #f7f2ee;
	padding-top: 30px;
}
.head-logo {
	width: 70px;
	height: 70px;
}

.back-img {
	background-color:#26272c;
	width: 100%;
	height: 90px;
	margin: 0 auto;
	background-size: cover;	
	position: relative;
	opacity: 0.9;
}
.back-img:hover {
	opacity: 1.0;
}
.container1 {
	display: flex;
    justify-content: space-around;
    align-items: center;
	/*padding-top: 30px;*/
}
.nav-ul {
	display: flex;
     justify-content: flex-end;
	/*padding-right: 49px;*/
}
.nav-a {
	color:#f7f2ee;
	font-family: 'BPG Nino Mtavruli Bold';
	font-size: 20px;
}
.nav-a:hover {
	color:#dfdfdf;
	/*transform: scale(1.1, 1.1);*/
}
.active{
	color: #f7f2ee;
	font-family: 'BPG Nino Mtavruli Bold';
	font-size: 20px;
}

.nav-li {
	padding-right: 49px;
}
.last {
	padding-right: 0;
}
.box {
	padding-left: 139px;
	padding-top: 96px;
}
/*.pirveli {
    background-image: url(../img/court1.jpg);
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-size: cover;
}*/
/*footer*/
.footer-box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 90px;
	/*padding-bottom: 144px;
	flex-wrap: wrap;*/
}
.footer-box1 {
	/*width: 100%;*/
	height: 191px;
	display: flex;
	flex-direction: column;
    justify-content: space-evenly;
    /*align-items: center;*/

}
.contact-info {
	/*width: 100%;*/
	height: 191px;
	padding-top: 20px;;
}
.info-li {
	font-family: 'Poppins-Medium';
	font-size: 15px;
	color: #f7f2ee;
	padding-bottom: 20px;
}
.use-title {
    font-size: 20px;
    font-weight: bold;
	padding-bottom: 10px;
	color: #f7f2ee;;
	font-family: 'BPG Nino Mtavruli Bold';
}
.mail-icon {
	color: #f7f2ee;
	padding-right: 14px;
}
.phone-icon {
	color: #f7f2ee;
	padding-right: 17px;
}
.map-icon {
	color:#f7f2ee;
	padding-right: 19.9px;
}
.map,
.phone,
.email
 {
	color: #f7f2ee;
}
.fb {
	color:#f7f2ee;
	background-color: #26272c;
	font-size: 30px;
	
}
.twit {
	color:#f7f2ee;
	background-color: #26272c;
	font-size: 30px;
}
.g-plus {
	color:#f7f2ee;
	background-color: #26272c;
	font-size: 30px;
	
}
.social-icons {
    /*margin-top: 20px;*/
    display: flex;
    justify-content: space-evenly;
    /*align-items: center;*/
   /* width: 100px;*/
  	/*padding-right: 30px;*/
}


.fb:hover {
	color: #3B5998;
	transform: scale(1.8,1.8);
}
.twit:hover {
	color: #55ACEE;
	transform: scale(1.8,1.8);
}
.g-plus:hover {
	color: #DC4E41;
	transform: scale(1.8,1.8);
}
.logo2 {
    display: flex;
   /* justify-content: flex-start;*/
    flex-wrap: wrap;
    /*color: black;
    font-size: 30px;*/
}
.F-logoo {
    font-size: 20px;
    color: #f7f2ee;
	padding-left: 10px;
	font-family: 'BPG Nino Mtavruli Bold';
	padding-top: 30px;

}
.foot-logo {
	width: 70px;
	height: 70px;
}
/*meore*/
.meore {
    margin: 0 auto;
    background-color:  #26272c;

}
.satauri {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}
.lawyers {
    font-size: 20px;
	font-weight: bold;
	color: #f7f2ee;
	font-family: 'BPG Nino Mtavruli Bold';
}
.advokatebi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap
    
}
.advokati {
    width: 400px;
    height: 100%;
    background-color:#18181c;
    display: flex;
    flex-direction: column;
	align-items: center;
	text-align: center;
    border-radius: 2%;
    
}
.img-law {
    width: 147px;
    height: 147px;
    border-radius: 50%;
    margin-top: 20px;
}
.law-name{
	padding-top: 10px;
    font-size: 20px;
    color: #f7f2ee;
	font-weight: bold;
	font-family: 'BPG Nino Mtavruli Bold';
}
.position{
	padding-top: 10px;
	font-size: 15px;
    color: #f7f2ee;
	font-weight: bold;
	font-family: 'BPG Nino Mtavruli Bold';
}
.description {
	padding: 10px;
	font-size: 12px;
    color: #f7f2ee;
	font-weight: bold;
	font-family: 'BPG Nino Mtavruli Bold';
}
.burger-icon {
	font-size: 20px;
	color: #f7f2ee;
	display: none;
}
/*contact page*/
textarea {
	resize: none;
	width: 731.42px;
	height: 112.62px;
	width: 100%;
	border: none;
	
	margin-top: 11.9px;
}
.saxeli, 
.mail, 
.sub-satauri, 
.letter {
	font-size: 20px;
	color:#f7f2ee;
	font-family: 'BPG Nino Mtavruli Bold';
}
.form-wraper {
	width: 730.26px;
	margin-left: 100px;
	margin-top: 70px;
	}
.input-wraper {
	width: 100%;
	font-size: 20px;
	padding: 11px 200px 20.60px 29.60px;
	margin-top: 11.9px;
	margin-bottom: 11.9px;
}
.input-wraper::placeholder {
	font-size: 20px;
}
.input-wraper:focus,
.textarea-wraper:focus {
	outline: none;
}
.btn {
	border: none;
	background-color: #f7f2ee;
	width: 100px;
	height: 40px;
	color: #26272c;
	font-size: 18px;
	margin-top: 30px;
	padding: 10px;
	border-radius: 5%;
	font-family: 'BPG Nino Mtavruli Bold';
}
.btn:hover {
	background-color: #18181c;
	color: #f7f2ee;
}