/*header*/
/*header {
	display: fixed;
	background-color:#18181c;
	/*opacity: 0.8;*/
	/*box-shadow:  0px 7px #0d0d0d;
	/*position: fixed;
}*/
.logo {
    display: flex;
    /*justify-content: center;*/
	padding-left: 90px;
	/*margin-right: 600px;
	/*padding-top: 20px;*/
}
body {
	background-color:#26272c;
}

.law {
   	padding-left: 10px;
	font-size: 28px;
	font-family: 'BPG Nino Mtavruli Bold';
	color: #f7f2ee;
	text-shadow: 1px 1px #efe5dc;
	padding-top: 27px;
}
.head-logo {
	width: 70px;
	height: 70px;
}

.back-img {
	background-color:#18181c;
	width: 100%;
	height: 130px;
	/*margin: 0 auto;*/
	background-size: cover;	
	position: relative;
	opacity: 0.8;
	margin-bottom: 50px;
	

}
.back-img:hover {
	opacity: 1;
}
.container1 {
	display: flex;
    justify-content: space-between;
	align-items: center;
	text-align: center;
	padding-top: 30px;
	margin-bottom: 130px;
	
}
.nav-ul {
	display: flex;
    justify-content: space-evenly;
	/*padding-right: 49px;
	padding-top: 20px;*/
}
.nav-a {
	color:#f7f2ee;
	font-family: 'BPG Nino Mtavruli Bold';
	font-size: 28px;
	
}
.nav-a:hover {
	color:#dfdfdf;
	/*transform: scale(1.1, 1.1);*/
	text-shadow: 1px 1px #efe5dc;
}
.active{
	color: #f7f2ee;
	font-family: 'BPG Nino Mtavruli Bold';
	font-size: 28px;
}

.nav-li {
	padding-right: 55px;
}
.last {
	padding-right: 0;
}
/*footer*/
.footer-box {
	display: flex;
	justify-content: space-around;
	/*align-items: center;*/
	padding: 20px 60px;
	flex-wrap: wrap;
	background-color:#18181c;
	/*margin-top: 100px 50px;*/

}
.footer-box1 {
	/*width: 100%;*/
	/*height: 191px;*/
	display: flex;
	flex-direction: column;
  	justify-content: space-evenly;
	/*align-items: center;
	/*padding-left: 100px;*/

}
.contact-info {
	/*width: 100%;
	/*height: 191px;*/
	padding-top: 50px;
}
.info-li {
	font-family: 'Poppins-Medium';
	font-size: 20px;
	color: #f7f2ee;
	padding-bottom: 30px;
}
.use-title {
    font-size: 28px;
    font-weight: bold;
	padding-bottom: 10px;
	color: #f7f2ee;;
	font-family: 'BPG Nino Mtavruli Bold';
	text-shadow: 1px 1px #efe5dc;
}
.mail-icon {
	color: #f7f2ee;
	padding-right: 14px;
}
.phone-icon {
	color: #f7f2ee;
	padding-right: 17px;
}
.map-icon {
	color:#f7f2ee;
	padding-right: 19.9px;
}
.map,
.phone,
.email
 {
	color: #f7f2ee;
	font-family: 'BPG Nino Mtavruli Bold';
	font-size: 20px;
}
.fb {
	color:#f7f2ee;
	background-color: #18181c;
	font-size: 50px;
	
}
.twit {
	color:#f7f2ee;
	background-color:#18181c;
	font-size: 50px;
}
.g-plus {
	color:#f7f2ee;
	background-color:#18181c;
	font-size: 50px;
	
}
.social-icons {
    /*margin-top: 20px;*/
    display: flex;
    justify-content: space-evenly;
    /*align-items: center;*/
   /* width: 100px;*/
  	/*padding-right: 30px;*/
}
.fb:hover {
	color: #3B5998;
	transform: scale(1.8,1.8);
}
.twit:hover {
	color: #55ACEE;
	transform: scale(1.8,1.8);
}
.g-plus:hover {
	color: #DC4E41;
	transform: scale(1.8,1.8);
}
.logo2 {
    display: flex;
   /* justify-content: flex-start;*/
    flex-wrap: wrap;
    /*color: black;
    font-size: 30px;*/
}
.F-logoo {
    font-size: 28px;
    color: #f7f2ee;
	padding-left: 10px;
	font-family: 'BPG Nino Mtavruli Bold';
	padding-top: 30px;
	text-shadow: 1px 1px #efe5dc;

}
.foot-logo {
	width: 70px;
	height: 70px;
}
/*meore*/
.meore {
    margin: 100px 50px;
    background-color:  #26272c;

}
.satauri {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
}
.lawyers {
    font-size: 30px;
	font-weight: bold;
	color: #f7f2ee;
	font-family: 'BPG Nino Mtavruli Bold';
}
.advokatebi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.advokati {
	width: 430px;
    height: 100%;
    background-color:#18181c;
    /*display: flex;
    flex-direction: column;
	align-items: center;
	/*text-align: center;*/
	border-radius: 2%;
	box-shadow:7px 7px #0d0d0d
    
}
.team-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.law-mail-icon{
	font-size: 25px;
	color: #f7f2ee;
	padding-right: 3px;
}
.law-phone-icon {
	font-size: 25px;
	color: #f7f2ee;
	padding-right: 3px;
}
.social-media {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-left: 100px;
}
.law-email{
	font-size: 23px;
	color: #f7f2ee;
	font-family: 'BPG Nino Mtavruli Bold';
	padding-right: 5px;
}
.law-phone{
	font-size: 23px;
	color: #f7f2ee;
	font-family: 'BPG Nino Mtavruli Bold';
}
.img-law {
    width: 147px;
    height: 147px;
    border-radius: 50%;
    margin-top: 20px;
}
.law-name{
	padding-top: 10px;
    font-size: 25px;
    color: #f7f2ee;
	font-weight: bold;
	font-family: 'BPG Nino Mtavruli Bold';
}
.position{
	padding-top: 20px;
	font-size: 19px;
    color: #f7f2ee;
	font-weight: bold;
	font-family: 'BPG Nino Mtavruli Bold';
}
.description {
	padding: 20px;
	font-size: 15px;
    color: #f7f2ee;
	font-weight: bold;
	font-family: 'BPG Nino Mtavruli Bold';
}
.burger-icon {
	font-size: 20px;
	color: #f7f2ee;
	display: none;
}
/*contact page*/
textarea {
	resize: none;
	width: 731.42px;
	height: 112.62px;
	width: 100%;
	border: none;
	
	margin-top: 11.9px;
}
.saxeli, 
.mail, 
.sub-satauri, 
.letter {
	font-size: 20px;
	color:#f7f2ee;
	font-family: 'BPG Nino Mtavruli Bold';
}
.form-wraper {
	width: 700px;
	/*margin-left: 100px;*/
	margin-top: 70px;
	}
.input-wraper {
	width: 100%;
	font-size: 20px;
	padding: 11px 200px 20.60px 29.60px;
	margin-top: 11.9px;
	margin-bottom: 11.9px;
}
.input-wraper::placeholder {
	font-size: 20px;
}
.input-wraper:focus,
.textarea-wraper:focus {
	outline: none;
}
.btn {
	border: none;
	background-color: #f7f2ee;
	width: 100px;
	height: 40px;
	color: #26272c;
	font-size: 18px;
	margin-top: 30px;
	border-radius: 5%;
	font-family: 'BPG Nino Mtavruli Bold';
	text-align: center;
}
.btn:hover {
	background-color: #18181c;
	color: #f7f2ee;
}
.contact-wraper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.contact-map {
	margin-top: 95px;;
}
/*pirveli*/
.about-wraper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/*margin: 200px 40px;*/

}
.img-ab {
	width: 100%;
	/*height: 100%;*/
	/*padding-right: 70px;*/
	box-shadow: 7px 7px #0d0d0d;
	border-radius: 5px;
}
.about-text {
	width: 610px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-left: 70px;
	border: solid;
	border-color:  #18181c;
	padding:  10px 10px 0 10px;
	box-shadow: 5px 5px #0d0d0d;
	margin-top: 25px;

}
.about-title {
	color: #f7f2ee;
	font-family: 'BPG Nino Mtavruli Bold';
	font-size: 27px;
	padding-bottom: 10px;;
}
.about-p {
	color: #f7f2ee;
	font-size: 110%;
	font-family: 'BPG Nino Mtavruli Bold';
	padding-bottom: 10px;
	text-shadow: 5px  #18181c;
}
.viber-icon {
	color: #665CAC;
	font-size: 30px;
}
.fb-icon {
	color: #3B5998;
	font-size: 30px;
}
.whatsapp-icon {
	color:#25D366;
	font-size: 30px;
}
.law-icons{
	display: flex;
	justify-content: space-evenly;
}
.law-info {
	padding-bottom: 10px;
}
.viber-icon:hover {
	
	transform: scale(1.8,1.8);
}
.whatsapp-icon:hover{
	
	transform: scale(1.8,1.8);

}
.fb-icon:hover{
	
	transform: scale(1.8,1.8);
}
/*work-area*/
.work-area {
	margin: 100px 100px;
	background-color:#18181c;
	border-radius: 10px;
	box-shadow:7px 7px #0d0d0d
	
}
.work-area-title-box {
	display: flex;
	justify-content: center;
	color: #f7f2ee;
	font-size: 30px;
	/*margin: 50px;*/
	font-family: 'BPG Nino Mtavruli Bold';
	padding-top: 70px;
	padding-bottom: 25px;
}
.work-area-box {
	display: flex;
	justify-content: space-around;
	height: 100%;
	flex-wrap: wrap;
	margin: 30px;

}
.work-area-list {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	padding-bottom: 30px;
	
	
}
.work-p {
	font-family: 'BPG Nino Mtavruli Bold';
	color: #f7f2ee;
	font-size: 23px;
	padding-top: 15px;
}
.work-area-icon {
	font-size: 30px;
	padding-right: 15px;
}
/*lawyers*/
.adv-img {
	width: 380px;
	height: 380px;
}
.law1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/*width: 1600px;*/
	height: 100%;
	margin-bottom: 50px;
}
.law2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
	height: 100%;
	margin-bottom: 50px;
}
.law3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
	height: 100%;
	margin-bottom: 50px;
}
.adv-info {
	width: 800px;
}
.law-team-box {
	/*width: 600px;*/
	/*height: 100%;*/

}
.sertificate-box {
	/*width: 500px;*/
	/*height: 100%;*/
}
.law-team-name{
	font-family: 'BPG Nino Mtavruli Bold';
	color: #f7f2ee;
	font-size: 23px;
	padding-top: 15px;
}
.law-team-position {
	font-family: 'BPG Nino Mtavruli Bold';
	color: #f7f2ee;
	font-size: 20px;
	padding-top: 15px;
}
.law-team-description {
	font-family: 'BPG Nino Mtavruli Bold';
	color: #f7f2ee;
	font-size: 18px;
	padding-top: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.sertificate {
	font-family: 'BPG Nino Mtavruli Bold';
	color: #f7f2ee;
	font-size: 15px;
	margin-bottom: 20px;
	
}
.law-team-socialmedia {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
}
.law-team-icons {
	display: flex;
	justify-content: flex-start;

}
.facebook,
.viber {
	padding-right: 20px;
}